@import "../themes/anpu/sass/main.scss"

.container {
  margin-top:20px;
}

.site-header {
  font-size: 2em;
}

.powered-by-footer {
  font-size: 80%;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  max-width: 42em;
  margin: inherit;
  margin-right: 40px;
}

.left-float {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: 260px;
  padding: 0px 20px 20px 20px;
}

.left-header {
  font-size: 70%;
}

.article-authors {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.article-authors li {
    display: inline;
    margin-right: 1em;
}

.article-info {
    font-size: 0.9em;
    color: grey;
    margin-top: 1em;
}

.left-announcements > h2 {
  margin-bottom: 2px;
}

.left-announcement-item {
  margin-bottom: 8px;
}

.left-announcement-date {
  font-size: 80%;
  display: block;
  margin-bottom: 0px;
}

@media (max-width: 72em) {
    .flex-container {
      display: flex;
      flex-direction: column;
    }

    .container {
      margin-left: 40px;
      margin-right: 40px;
    }

    .left-float {
      display: flex;
      flex-direction: row;
      width: auto;
      margin-left: 20px;
    }

    .left-header {
      width: 260px;
      flex-shrink: 0;
    }

    .left-announcements {
      margin-left: 20px;
      border-left: 1px solid grey;
      padding-left: 20px;
    }
}

@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
    }

    .container {
        max-width: inherit;
        margin-left: 20px;
        margin-right: 20px;
    }

    .left-float {
      margin-left: 0px;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    header {
        display: inherit;
    }

    .site-header {
        text-align: inherit;
    }

    header nav {
        margin-top: inherit;
        max-width: inherit;
        text-align: inherit;
        padding: inherit;
    }

    header nav a:first-of-type {
        margin-left: inherit;
    }

    header nav a {
        margin-left: inherit;
    }
}


@media (max-width: 640px) {
  .left-announcements {
    display: none;
  }
}

pre {
  background-color: inherit;
  padding: 1rem;
  overflow: auto;
}
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
  border-style: hidden;
}
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
code,
pre,
kbd {
    font-family: monospace;
    font-size: 0.90em;
    line-height: 120%;
}
.ansi-html {
    color: #ffffff;
    background-color: #2b2c2f;
}


.watermark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  z-index: -1;
  display: flex;
  pointer-events: none;
}
.watermark-text {
  font-size: 25vw;
  color: grey;
  transform: rotate(-45deg);
}
