{% import "macros/page.html" as page_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{{ config.description }}">

    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">

    {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>

  <div class="watermark">
    <div class="watermark-text">DRAFT</div>
  </div>

  <div class="flex-container">
  <!--<a class="skip-main" href="#main">Skip to content</a>-->
    <div class="left-float">
      <div class="left-header">
      <h1 class="site-header">
          <a href="{{ config.base_url }}">{{ config.title }}</a>
      </h1>
      <p style="text-align: justify;">Verus is a tool for verifying the correctness of code written in Rust. Developers write specifications of what their code should do, and Verus statically checks that the executable Rust code will always satisfy the specifications for all possible executions of the code.</p>
      <p style="font-weight: bold; font-size: 100%">Verus is open-source at <a href="https://github.com/verus-lang/verus">github.com/verus-lang/verus</a></p>
      </div>
      <div class="left-announcements">
        <h2>Verus Announcements</h2>
        <!-- TODO turn this into an UL list -->
        {% set blog_section = get_section(path="announcements/_index.md") %}
        {% for page in blog_section.pages %}
        <div class="left-announcement-item">
          <span class="left-announcement-date">{{page.date}}<br/>{{page.extra.author}}</span> <span class="left-announcement-text">{{ page.content | safe }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="container">
        <header> 
            <!--<nav>
                {% block sidebar_nav %}
                {% for menu_link in config.extra.anpu_menu_links %}
                {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
                <a {% if current_url and current_url == link_url %}class="active"{% endif %} href="{{ link_url }}">{{menu_link.name}}</a>
                {% endfor %}
                {% endblock sidebar_nav %}
            </nav>-->
        </header>
        <main id="main" tabindex="-1">
            {% block content %}
            <!-- {% if paginator.pages %} -->
            <!-- {% for page in paginator.pages %} -->
            <!--    {{ page_macros::page_listing(page=page) }} -->
            <!-- {% endfor %} -->
            <!-- {{ page_macros::page_pagination(paginator=paginator) }} -->
            <!-- {% else %} -->
                {% for page in section.pages | reverse %}
                    {{ page_macros::page_listing(page=page) }}
                {% endfor %}
            <!-- {% endif %} -->
            {% endblock content %}
        </main>
        <footer>
            <p class="powered-by-footer">
                Powered by <a target="_blank" href="https://getzola.org/">Zola</a>, Theme <a target="_blank" href="https://github.com/zbrox/anpu-zola-theme">Anpu</a> (customized).
            </p>
            <p>
                {% block footer %}
                {% endblock footer %}
            </p>
        </footer>
    </div>
  </div>

  {% include "partials/darkmode.html" %}
    
</body>
</html>
